.contact-div{
    background-color:darkcyan;
  min-height: 70vh;
  min-width: 80vh;
  margin-top:40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.addItems{
    min-width: 100%;   
}

#add-contact{
    position: relative;
    width: 70%;
    height: 30px;

}

#add-btn{  
    position: relative;
    height: 30px;
    width:auto;
}

